# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [151]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import openweathermapy.core as owm
import urllib, json

# Import API key
from api_keys import api_key
g_key = ""


# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [183]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=15)
lngs = np.random.uniform(low=-180.000, high=180.000, size=15)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
city_df = pd.DataFrame(cities,columns=['Cities'])

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [122]:
# Create settings dictionary with information we're interested in
settings = {"units": "metric", "appid": api_key}
test = owm.get_current('San Francisco', **settings)
test['dt']

1562198034

In [184]:
lon = []
lat = []
hum = []
maxtemp = []
clouds = []
wind = []
new_city = []
dt = []
for index, row in city_df.iterrows():



    try:    
        # get restaurant type from df
        city = row['Cities']
        settings = {"units": "metric", "appid": api_key}
        json_df = owm.get_current(city, **settings)
        
        # Append corresponding values to their respective lists
        new_city.append(row['Cities'])
        lon.append(json_df['coord']['lon'])
        lat.append(json_df['coord']['lat'])
        hum.append(json_df['main']['humidity'])
        maxtemp.append(json_df['main']['temp_max'])
        clouds.append(json_df['clouds']['all'])
        wind.append(json_df['wind']['speed'])
        dt.append(json_df['dt'])
        print(json_df['coord']['lon'])
        print(city)
        time.sleep(1)     

    # For any errors (specifically the 404 Error) move on to the next record    
    except:
        next
    print("-----------")

-----------
100.22
tura
-----------
147.33
hobart
-----------
-96.99
husavik
-----------
-73.75
albany
-----------
115.35
busselton
-----------
-----------
-73.48
saint-philippe
-----------
-68.31
ushuaia
-----------
-73.25
iquitos
-----------
-90.35
puerto ayora
-----------
46.75
alikovo
-----------
83.65
kurchum
-----------
24.73
kruisfontein
-----------
-8.78
gondar
-----------

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [185]:
# Create a dataframe with all the attributes
# lon = []
# lat = []
# hum = []
# maxtemp = []
# clouds = []
# wind = []
city_dict = {'City':new_city,'Cloudiness':clouds,'Date':dt,'Humidity':hum,'Lat':lat,'Lon':lon,'Max Temp':maxtemp,'Wind Speed':wind}
city_df = pd.DataFrame(city_dict)
city_df

,City,Cloudiness,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,tura,0,1562200566,36,64.27,100.22,20.67,3.08
1,hobart,20,1562200767,81,-42.88,147.33,6.67,3.10
2,husavik,56,1562200768,51,50.56,-96.99,19.44,1.79
3,albany,1,1562200529,44,42.65,-73.75,27.78,1.68
4,busselton,100,1562200771,38,-33.64,115.35,17.78,12.15
5,saint-philippe,1,1562200772,51,45.36,-73.48,28.89,3.10
6,ushuaia,0,1562200523,92,-54.81,-68.31,-4.00,5.70
7,iquitos,0,1562200623,83,-3.75,-73.25,27.00,0.97
8,puerto ayora,40,1562200776,73,-0.74,-90.35,23.00,7.20
9,alikovo,0,1562200777,93,55.74,46.75,13.00,3.00
10,kurchum,92,1562200778,65,48.57,83.65,16.27,1.74
11,kruisfontein,0,1562200780,83,-34.00,24.73,9.97,1.06
12,gondar,0,1562200781,77,41.82,-8.78,18.33,2.10

In [188]:
# Get country code
country=[]

for index, row in city_df.iterrows():
        
        # get restaurant type from df
        lat = row['Lat']
        lon = row['Lon']
        url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lon}&key={g_key}"        
        response= urllib.request.urlopen(url)
        data = json.loads(response.read())
#         print(data)
        print(data['results'][0]['address_components'][0])
        # Append corresponding values to their respective lists
#         print(json_df['coord']['lon'])
#         print(city)

{'long_name': '6а', 'short_name': '6а', 'types': ['street_number']}
{'long_name': '48', 'short_name': '48', 'types': ['street_number']}
{'long_name': 'Provincial Trunk Highway 9', 'short_name': 'MB-9', 'types': ['route']}
{'long_name': '445', 'short_name': '445', 'types': ['street_number']}
{'long_name': 'Geographe Bay Road', 'short_name': 'Geographe Bay Rd', 'types': ['route']}
{'long_name': '18', 'short_name': '18', 'types': ['street_number']}
{'long_name': '99', 'short_name': '99', 'types': ['street_number']}
{'long_name': '679', 'short_name': '679', 'types': ['street_number']}
{'long_name': 'Unnamed Road', 'short_name': 'Unnamed Road', 'types': ['route']}
{'long_name': '7а', 'short_name': '7а', 'types': ['street_number']}
{'long_name': 'Ulitsa Beregovaya', 'short_name': 'Ulitsa Beregovaya', 'types': ['route']}
{'long_name': '52', 'short_name': '52', 'types': ['street_number']}
{'long_name': 'Portugal', 'short_name': 'PT', 'types': ['country', 'political']}

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot